[submodule "submodules/biopython"]
	path = submodules/biopython
	url = https://github.com/biopython/biopython.git
[submodule "submodules/bioperl-live"]
	path = submodules/bioperl-live
	url = https://github.com/bioperl/bioperl-live
[submodule "submodules/velvet"]
	path = submodules/velvet
	url = https://github.com/dzerbino/velvet
